.header {
  position: fixed;
  // z-index: 1;
  top: 0;
  background-color: cadetblue;
  width: 900px;
  height: 60px;
  font-family: 'Montserrat';
  padding: 20px;
}

.links {
  color: beige;
  text-decoration: none;
  margin-right: 10px;
  padding: 3px 10px 3px 10px;
  border: solid;
  border-width: 1px;
  border-radius: 8px;
  font-family: 'Montserrat';
}

.menu {
  margin-top: 10px;
}

.menuSearch {
  display: flex;
  justify-content: space-between;
}

.normLink {
  text-decoration: none;
  color: black;
}
