.main {
  background-color: azure;
  width: 900px;
  height: 579px;
  padding: 20px;
}

.itemCard {
  display: flex;
  justify-content: space-around;
  background-color: cadetblue;
  margin: 30px;
  padding: 10px;
}